<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>count_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,716},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>count_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,634},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>count_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,548},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,73}}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
            <key>count_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,445},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>count_down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,670},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,578},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,364},{188,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{2,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{192,131}</string>
            </dict>
            <key>gem_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,219},{188,143}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{1,10},{188,143}}</string>
                <key>sourceSize</key>
                <string>{196,153}</string>
            </dict>
            <key>gem_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{168,185}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{2,16},{168,185}}</string>
                <key>sourceSize</key>
                <string>{170,201}</string>
            </dict>
            <key>gem_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{172,213}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,5},{172,213}}</string>
                <key>sourceSize</key>
                <string>{172,219}</string>
            </dict>
            <key>gem_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{258,203}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{6,0},{258,203}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,259},{220,149}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{1,5},{220,149}}</string>
                <key>sourceSize</key>
                <string>{222,155}</string>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,403},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{192,215}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,20},{192,215}}</string>
                <key>sourceSize</key>
                <string>{192,235}</string>
            </dict>
            <key>gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,85},{172,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,253}}</string>
                <key>sourceSize</key>
                <string>{172,253}</string>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{302,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{302,183}}</string>
                <key>sourceSize</key>
                <string>{302,183}</string>
            </dict>
            <key>hp_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,469},{83,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,22}}</string>
                <key>sourceSize</key>
                <string>{83,22}</string>
            </dict>
            <key>hp_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,364},{77,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{77,10}}</string>
                <key>sourceSize</key>
                <string>{77,10}</string>
            </dict>
            <key>hp_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,232},{63,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,6}}</string>
                <key>sourceSize</key>
                <string>{63,6}</string>
            </dict>
            <key>img_hongzha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>img_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,572},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,522},{100,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>item_equip_1_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,464},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>item_equip_1_valid.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,624},{62,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{62,31}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>item_equip_2_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,746},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>item_equip_2_valid.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,518},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>item_equip_3_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,574},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>item_equip_3_valid.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,624},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>item_equip_4_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,687},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>item_equip_4_valid.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,410},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>item_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,219},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
            <key>item_weapon_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,408},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>item_weapon_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,290},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>item_weapon_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,599},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>item_weapon_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,976},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>item_weapon_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,933},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>item_weapon_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,885},{79,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,30}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>joystick_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,187},{214,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{214,226}}</string>
                <key>sourceSize</key>
                <string>{214,226}</string>
            </dict>
            <key>joystick_bg_left_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,493},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>joystick_left_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,714},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>level_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,845},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,830},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,940},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,892},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,940},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,892},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,844},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,844},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,794},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,790},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,782},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,782},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,797},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,797},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,782},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,796},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,796},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,734},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,734},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,749},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,734},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>level_star_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,830},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>level_star_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,749},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>level_star_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,845},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>level_star_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,360},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>level_star_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,746},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>little_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,495},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>map_tips_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,614},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>open_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,424},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>open_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,543},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>safe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,410},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>treat_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,657},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_count_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{515,81}}</string>
                <key>sourceSize</key>
                <string>{515,81}</string>
            </dict>
            <key>ui_gold_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,673},{119,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,31}}</string>
                <key>sourceSize</key>
                <string>{119,31}</string>
            </dict>
            <key>ui_gold_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,581},{131,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,31}}</string>
                <key>sourceSize</key>
                <string>{131,31}</string>
            </dict>
            <key>ui_gold_w_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,548},{131,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{131,31}}</string>
                <key>sourceSize</key>
                <string>{131,31}</string>
            </dict>
            <key>ui_gold_w_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,411},{148,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,31}}</string>
                <key>sourceSize</key>
                <string>{148,31}</string>
            </dict>
            <key>ui_gold_w_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,259},{150,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{150,31}}</string>
                <key>sourceSize</key>
                <string>{150,31}</string>
            </dict>
            <key>ui_tips_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,617},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>ui_tips_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,688},{61,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{61,24}}</string>
                <key>sourceSize</key>
                <string>{61,24}</string>
            </dict>
            <key>ui_weapon_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,344},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>ui_weapon_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,264},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>ui_weapon_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,187},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>ui_weapon_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,931},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>ui_weapon_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,931},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>ui_weapon_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,931},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>weapon_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,746},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>weapon_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,561},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comm.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2150868d0ff0bc7e7469bde0bb9647e:1/1$</string>
            <key>textureFileName</key>
            <string>comm.png</string>
        </dict>
    </dict>
</plist>